#header {
  background-color: #FFF6EF;
}
#header .logo {
  width: 30%;
}
#header .logo img {
  width: 150px;
}
#header ul {
  width: 70%;
}
#header ul li a {
  text-decoration: none;
  color: black;
  padding: 25px 20px;
  display: inline-block;
}
#header ul li a i {
  color: orangered;
}
#header .nav-right {
  display: flex;
}
#header .nav-right span i {
  color: orangered;
  padding: 0 20px;
}

#sectionOne {
  padding: 3rem 0;
  background-color: #FFF6EF;
}
#sectionOne .box-right {
  padding-left: 30px;
}
#sectionOne .box-right h1 {
  width: 70%;
  font-weight: 500;
  margin: 15px 0;
}
#sectionOne .box-right p {
  width: 70%;
  font-size: 17px;
}
#sectionOne .box-right a {
  background-color: orange;
  color: white;
  padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0;
  border-radius: 50px;
  transform: translateY(10px);
  transition: 0.5s;
}
#sectionOne .box-right a:hover {
  transform: translateY(0);
}

#sectionTwo {
  padding: 4rem 0;
  width: 100%;
}
#sectionTwo .boxtext {
  text-align: center;
}
#sectionTwo .boxtext h6 {
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
#sectionTwo .boxtext h1 {
  width: 70%;
  text-align: center;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
#sectionTwo .boxes {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  width: 100%;
  position: relative;
}
#sectionTwo .boxes .box {
  width: 22%;
  height: 350px;
  background-color: white;
  border: 1px solid;
  text-align: center;
  border-radius: 10px;
}
#sectionTwo .boxes .box i {
  padding: 2rem 0;
}
#sectionTwo .boxes .box a {
  color: orange;
}
#sectionTwo .boxes .box p {
  width: 70%;
  text-align: center;
  margin: auto;
}

#sectionTree {
  padding: 4rem 0;
}
#sectionTree .box-left h4 {
  color: gray;
}
#sectionTree .box-left h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 700;
  width: 90%;
  margin: 20px 0;
}
#sectionTree .box-left button {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border: none;
}
#sectionTree .box-left input {
  padding: 10px 15px;
}
#sectionTree .box-left p {
  width: 70%;
}
#sectionTree .box-right img {
  width: 100%;
}

#sectionFour {
  padding: 4rem 0;
  display: flex;
  justify-content: space-around;
}
#sectionFour .box-left {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#sectionFour .box-left H6 {
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#sectionFour .box-left H2 {
  font-size: 40px;
  font-weight: 600;
}
#sectionFour .box-left p {
  font-size: 20px;
  color: gray;
}
#sectionFour a {
  padding: 15px 40px;
  background-color: orange;
  color: white;
  border-radius: 40px;
  margin: 20px 0;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
#sectionFour .box-right .card {
  box-shadow: 0 0 2px 0 gray;
  width: 80%;
  margin: 10px 0;
}
#sectionFour .box-right .card.active {
  margin: 0 20px;
}
#sectionFour .box-right .card button {
  color: orange;
  border: none;
  padding: 10px;
  border-radius: 100%;
  background-color: bisque;
  margin: 20px 10px;
}

#sectionFive {
  padding: 4rem 0;
}
#sectionFive .box-left img {
  width: 100%;
}
#sectionFive .box-right {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#sectionFive .box-right h4 {
  color: gray;
}
#sectionFive .box-right h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0;
}
#sectionFive .box-right i {
  color: orange;
}
#sectionFive .box-right a {
  text-decoration: none;
  color: black;
}
#sectionFive .box-right a:hover {
  color: orange;
}

#sectionSix {
  padding: 4rem 0;
}
#sectionSix .box-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
#sectionSix .box-text h2 {
  width: 55%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
}
#sectionSix .box-text h4 {
  color: gray;
}
#sectionSix .boxes {
  margin: 4rem 0;
}
#sectionSix .boxes .box {
  box-shadow: 0 0 20px 0;
  text-align: center;
}
#sectionSix .boxes .box h4 {
  font-size: 30px;
}
#sectionSix .boxes .box span {
  font-size: 20px;
  color: rgb(195, 190, 190);
}
#sectionSix .boxes .box .img {
  width: 100px;
  height: 200px;
}
#sectionSix .boxes .box .img img {
  border-radius: 360%;
  margin: 30px;
}
#sectionSix .boxes .box .icon i {
  margin: 10px;
  color: orange;
  padding-bottom: 30px;
}/*# sourceMappingURL=style.css.map */